@use "../../utils/variables.scss";

#accompaniment-fs {
  @include variables.wh(100%, auto);
  margin-top: 4rem;

  .main-container {
    @include variables.wh(100%, auto);
    background-color: white;
    padding: 2rem;
    margin-top: 2rem;
    column-gap: 2rem;
    row-gap: 5rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    .item-container {
      width: 350px;
      @include variables.dbc(row);
      justify-content: center;
      align-items: center;
      border: 1px solid variables.$primary-color;
      border-radius: 100px;
      padding: 25px;
      .icon-container {
        width: 60px;
        background-color: white;
        border-radius: 50%;
        padding: 15px;
        box-shadow: inset 0px 3px 6px #f1e8d6, 0px 3px 6px #00000029;
        border: 1px solid variables.$primary-color;

        .icon {
          @include variables.wh(100%, 100%);
        }
      }

      p {
        text-transform: uppercase;
        color: variables.$secondary-color;
        letter-spacing: 3px;
        text-align: center;
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #accompaniment-fs {
    .main-container {
      row-gap: 3rem;
    }
  }
}

@media only screen and (max-width: 780px) {
  #accompaniment-fs {
    .main-container {
      .item-container {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  #accompaniment-fs {
    .main-container {
      padding: 2rem 1rem;
      .item-container {
        @include variables.dbc(row);
        p {
          font-size: 14px;
          width: 90%;
          margin: 0;
          text-align: left;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
