@use "../../utils/variables.scss";

#choose {
  position: relative;
  @include variables.wh(100%, 100vh);
  @include variables.dcc(row);

  .left-container {
    @include variables.wh(65%, 100%);
    @include variables.dac(column);

    .top {
      position: relative;
      width: 90%;
      @include variables.dcc(row);

      .icon-button-container .icon-button-img {
        @include variables.wh(30px, 30px);
        filter: brightness(0) saturate(100%);
        position: absolute;
        left: 0;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 28px;
      color: variables.$gray-color;
      margin: 0;
    }

    .button-container {
      width: 60%;
      @include variables.dac(row);
    }

    .progress-container {
      align-self: flex-end;
      margin-right: 4rem;
    }
  }

  .right-img {
    @include variables.wh(35%, 100%);
  }
}

@media only screen and (max-width: 1300px) {
  #choose {
    .left-container .button-container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 780px) {
  #choose {
    .left-container {
      width: 100%;
    }
    .right-img {
      display: none;
    }
  }
}

@media only screen and (max-width: 580px) {
  #choose {
    .left-container {
      .progress-container {
        margin-right: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  #choose {
    .left-container {
      .button-container {
        @include variables.dbc(column);
        height: calc(340px + 2rem);
      }
    }
  }
}
