@use "../../utils/variables.scss";

#quote {
  @include variables.wh(100%, auto);
  @include variables.dcc(column);
  background-color: variables.$primary-color;
  color: variables.$secondary-color;
  margin-top: 2rem;

  h3 {
    font-size: 30px;
    text-align: center;
    margin: 2rem 0;
  }

  #quote-sentence {
    font-weight: 200;
    font-style: italic;
    width: 80%;
  }

  #quote-author {
    font-weight: 500;
    color: variables.$blue-color;
  }
}

//Responsive
@media only screen and (max-width: 780px) {
  #quote h3 {
    font-size: 20px;
  }
}
