@use "../../utils/variables.scss";

#home-skills {
  @include variables.wh(100%, auto);
  @include variables.dcc(column);
  min-height: 100vh;
  margin-top: 4rem;

  .top {
    @include variables.dcc(row);
    @include variables.wh(100%, 500px);
    margin-top: 1rem;

    .gif {
      @include variables.wh(70%, 100%);
    }
  }

  .mid {
    @include variables.wh(100%, auto);
    @include variables.dac(row);
    margin: 2rem 0 4rem 0;

    .text {
      width: 70%;
      font-size: 20px;
      font-weight: 300;
      text-align: justify;
      color: variables.$secondary-color;
      line-height: 1.2;
      letter-spacing: 3px;
    }
  }

  .bottom {
    @include variables.wh(100%, auto);
    padding: 2rem;
    margin-top: 2rem;
    column-gap: 2rem;
    row-gap: 5rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    
.item-container {
  width: 350px;
  @include variables.dbc(row);
  justify-content: center;
  align-items: center;
  border: 1px solid variables.$primary-color;
  border-radius: 100px;
  padding: 25px;
  .icon-container {
    width: 60px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    box-shadow: inset 0px 3px 6px #f1e8d6, 0px 3px 6px #00000029;
    border: 1px solid variables.$primary-color;

    .icon {
      @include variables.wh(100%, 100%);
    }
  }

  p {
    text-transform: uppercase;
    color: variables.$secondary-color;
    letter-spacing: 3px;
    text-align: center;
    width: 250px;
  }
}

  }
}


@media only screen and (max-width: 980px) {
  #home-skills {
    .top {
      height: 400px;
      .gif {
        @include variables.wh(90%, 100%);
      }
    }

    .bottom {
      row-gap: 3rem;
    }
  }
}

@media only screen and (max-width: 780px) {
  .bottom {
    .item-container {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 580px) {
  #home-skills {
    .top {
      height: 250px;
      .gif {
        @include variables.wh(95%, 100%);
      }
    }

  }
}

@media only screen and (max-width: 480px) {
  #home-skills {
    .top {
      height: 200px;
    }

    .mid {
      @include variables.dxc(column);

      .text {
        width: 90%;
        font-size: 15px;

        &:first-child {
          margin-bottom: 2rem;
        }
      }
    }

    .bottom {
      padding: 0 0.6rem;
      .item-container {
        @include variables.dbc(row);
        p {
          font-size: 14px;
          width: 90%;
          margin: 0;
          text-align: left;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
