@use "../../utils/variables.scss";

#surface {
  @include variables.wh(100%, 100vh);
  @include variables.dcc(row);

  .left {
    @include variables.wh(70%, 100%);
    @include variables.dac(column);

    .mid {
      width: 100%;
      @include variables.dac(column);
      .sub-bottom {
        @include variables.dbc(column);
        @include variables.wh(90%, auto);
        .container {
          @include variables.wh(100%, 100%);
          @include variables.dac(row);
          flex-wrap: wrap;
        }
      }

      .container-title {
        margin: 3rem 0;
        text-align: center;
      }
    }

    .bottom,
    .top {
      position: relative;
      width: 90%;
      @include variables.dcc(row);

      .arrow,
      .progress-container {
        position: absolute;
      }

      .progress-container {
        right: 0;
      }

      .arrow {
        left: 0;
        transform: rotate(180deg);
      }
    }

    .bottom .atom-img {
      filter: brightness(0) saturate(100%) invert(97%) sepia(1%) saturate(202%)
        hue-rotate(35deg) brightness(117%) contrast(100%);
    }
  }

  .right {
    @include variables.wh(30%, 100%);
  }
}

@media only screen and (max-width: 1350px) {
  #surface {
    .left {
      .mid .sub-bottom {
        .project-number-card:nth-child(3) {
          margin: 2rem 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  #surface {
    height: auto;

    .left {
      width: 100%;
      margin: 3rem 0;

      .mid {
        margin-bottom: 3rem;
        width: 90%;
      }
    }

    .right {
      display: none;
    }
  }
}

@media only screen and (max-width: 580px) {
  #surface {
    .left {
      .bottom {
        width: 98%;
        flex-direction: column !important;

        .progress-container {
          position: relative !important;
          align-self: flex-end;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  #surface {
    .left .mid,
    .left .mid .sub-bottom {
      width: 100%;
    }
  }
}
